/***** FONTS *****/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #F0EFEA;
}

/***** COLORS *****/
.light_green {
    background-color: #52E2A5;
}
.dark_green {
    background-color: #3bb37d;
}
.basic_text {
    color: #303030;
}
.done_text {
    color: #b4b4b4;
}

/***** TODO LIST *****/
.container {
    width: 30%;
    height: 700px;
    padding: 2rem;
    margin: 5rem auto;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.date_container {
    display: flex;
    justify-content: space-between;
}
.date_wrapper {
    display: flex;
    gap: 0.5rem;
}

#dayNb {
    font-size: 2.2rem;
}
#month, #year {
	display: block;
}
#dayText {
    font-size: 1.3rem;
}
#addButton {
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    padding: 0.5rem 1.1rem;
    border-radius: 50%;
    font-size: 2rem;
    color: #39BC82;
    border: 2px solid #39BC82;
    cursor: pointer;
    background-color: #4DE5A1;
}

/***** ADD TASK MODAL *****/
.modal_container {
	visibility: hidden;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	transition: visibility 0.4s;
}
.modal_container.active {
	visibility: visible;
}

.overlay {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #333333d3;
	transition: opacity 0.4s ease-out;
}
.modal_container.active .overlay {
	opacity: 1;
	transition: opacity 0.4s ease-out;
}

.modal {
	opacity: 0;
	width: 95%;
	max-width: 500px;
	min-width: 300px;
	padding: 30px;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, calc(-50% - 50px));
	transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}
.modal_container.active .modal {
	opacity: 1;
	transform: translate(-50%, -50%);
	transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.close_modal {
	padding: 8px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background: #ff365e;
	color: #fff;
}

.modal h1 {
	margin-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.modal label {
	line-height: 1.4;
	margin-bottom: 5px;
}