/***** FONTS *****/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #F0EFEA;
}

/***** COLORS *****/
.light_green {
    background-color: #52E2A5;
}
.dark_green {
    background-color: #3bb37d;
}
.basic_text {
    color: #303030;
}
.done_text {
    color: #b4b4b4;
}

/***** TODO LIST *****/
.container {
    width: 30%;
    height: 700px;
    padding: 2rem;
    margin: 5rem auto;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.date_container {
    display: flex;
    justify-content: space-between;
}
.date_wrapper {
    display: flex;
    gap: 0.5rem;
}

#dayNb {
    font-size: 2.2rem;
}
#dayText {
    font-size: 1.3rem;
}
#addButton {
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    padding: 0.5rem 1.1rem;
    border-radius: 50%;
    font-size: 2rem;
    color: #39BC82;
    border: 2px solid #39BC82;
    cursor: pointer;
    background-color: #4DE5A1;
}